name: Steps Examples

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  example-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Create directory
        run: mkdir testmachine

      - name: Run uname and save output
        run: uname -a > testmachine/output.txt

      - name: Verify contents of output.txt
        run: cat testmachine/output.txt

      - name: Verify directory listing and contents
        run: ls -alhR
